@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;800&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800 !important;
}

p, span, label, a {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}

.mdl-button--raised {
    background-color: #2e3192 !important;
    color: #f0ba00 !important;
}

.slick-prev, .slick-next {
    z-index: 9;
    background-color: #f0ba00 !important;
    width: 40px;
    height: 40px;
}

.slick-prev {
    left: 0px !important;
}

.slick-next {
    right: 0px !important;
}

.mdl-layout--center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.demo-card-wide {
    width: 100% !important;
}